node_modules

/.cache
/build
/public/build
.env

# java api
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea
*.iws
*.iml
*.ipr

.vscode/

# dev db
db.sqlite

# logs
*.log
